# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules

# Build
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno (se agregan a partir de la Clase 11, dejamos la
# regla desde ahora para no olvidarla más adelante)
.env
.env.local
